
header > * {
 transition: all 0.1s ease-in  ;
}

header > div:hover  {
	background: white;
 color: black;
 border-radius: 0,5em;
 padding: 1em;
}

header {
 animation: header-effects 5s ease-in 0s 2 alternate ;
}

@keyframes header-effects {
 50% {background: gray; color: gray;}
 100% {background: black; color: white;}
}


div img {
 transition: all 0.1s ease-in-out ;
}
div img:hover {
 transform: scale(1.1,1.1);
 border-radius: 3em;
}

.images > div:hover {
 display: flex;
 align-content: center;
 justify-content: center;
 align-items: center;
}



nav >  ul > li {
 transition: 0.2s ease-in;
 color: black;
}

nav >  ul > li:hover {
 background: black;
 color: cyan;
 font-size: 1.5em;
 border-radius: 1em;
}
